@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



.custom{
  background-color: rgb(58, 100, 59,1)
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('/assets/Images/X.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 10px;
  padding-right: 30px; /* Adjust padding to make space for the icon */
}

